<a href="https://colab.research.google.com/github/Mohammed-Saif-07/ML-winter-quarter/blob/main/df_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TW1

## Pandas Series and DataFrame

- Practice Pandas Series and DataFrame with examples.

#### Write your full name.
Saif Mohammed


#### Submission:

-Start a new Github repository for this course.

-Push the completed code to your Github repository.

## Part 0

Practice Pandas Series and DataFrame with the given examples.

In [38]:
import pandas as pd

In [39]:
alist = ['Mouse', 'Giraffe', 'Tiger', 'Dog', 'Hippopotamus', 'Moose', 'Bear']
animals = pd.Series(alist)
animals

0           Mouse
1         Giraffe
2           Tiger
3             Dog
4    Hippopotamus
5           Moose
6            Bear
dtype: object

In [40]:
animals[2]

'Tiger'

In [41]:
animals.iloc[2]

'Tiger'

In [42]:
animals.loc[2]

'Tiger'

In [43]:
s1 = pd.Series(alist, index=[0, 1, 2, 3, 4, 5, 6])
s1.iloc[2]

'Tiger'

In [44]:
s1.loc[2]

'Tiger'

In [45]:
s2 = pd.Series(alist, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
s2

a           Mouse
b         Giraffe
c           Tiger
d             Dog
e    Hippopotamus
f           Moose
g            Bear
dtype: object

In [46]:
s2['c']

'Tiger'

In [47]:
s2.iloc[2]

'Tiger'

In [48]:
names = ['Chris', 'Kevin', 'Bob', 'Vinod', 'Daniel', 'Fil', 'Stephanie']
owners = pd.Series(names)
owners

0        Chris
1        Kevin
2          Bob
3        Vinod
4       Daniel
5          Fil
6    Stephanie
dtype: object

In [49]:
frame = {'animals': animals, 'owners': owners}

df = pd.DataFrame(frame)

df

        animals     owners
0         Mouse      Chris
1       Giraffe      Kevin
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [50]:
df.columns

Index(['animals', 'owners'], dtype='object')

In [51]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [52]:
type(df['animals'])

pandas.core.series.Series

In [53]:
df.iloc[0]

animals    Mouse
owners     Chris
Name: 0, dtype: object

In [54]:
df.loc[0][1]

/tmp/ipython-input-395987507.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][1]

'Chris'

In [55]:
df.owners

0        Chris
1        Kevin
2          Bob
3        Vinod
4       Daniel
5          Fil
6    Stephanie
Name: owners, dtype: object

In [56]:
df['owners']

0        Chris
1        Kevin
2          Bob
3        Vinod
4       Daniel
5          Fil
6    Stephanie
Name: owners, dtype: object

In [57]:
# copy an existing DataFrame to create a new dataFrame
copy_df = df.copy()
copy_df

        animals     owners
0         Mouse      Chris
1       Giraffe      Kevin
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [58]:
# drop columns

df2 = df.drop(['owners'], axis = 1)

df2

        animals
0         Mouse
1       Giraffe
2         Tiger
3           Dog
4  Hippopotamus
5         Moose
6          Bear

In [59]:
# drop columns

df3 = df.drop(columns = ['owners'])

df3

        animals
0         Mouse
1       Giraffe
2         Tiger
3           Dog
4  Hippopotamus
5         Moose
6          Bear

In [60]:
# drop rows

df4 = df.drop([0,1])
df4

        animals     owners
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [61]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                             ['speed', 'weight']],
                     codes=[[0, 0, 1, 1, 2, 2],
                            [0, 1, 0, 1, 0, 1]])

midx

MultiIndex([(  'lama',  'speed'),
            (  'lama', 'weight'),
            (   'cow',  'speed'),
            (   'cow', 'weight'),
            ('falcon',  'speed'),
            ('falcon', 'weight')],
           )

In [62]:
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                   data=[[45, 30], [200, 100], [30, 20], [250, 150], [320, 250],[1, 0.8]])

df

               big  small
lama   speed    45   30.0
       weight  200  100.0
cow    speed    30   20.0
       weight  250  150.0
falcon speed   320  250.0
       weight    1    0.8

In [63]:
df.drop(index='cow', columns='small')

               big
lama   speed    45
       weight  200
falcon speed   320
       weight    1

In [64]:
df.drop(index='weight', level=1)

              big  small
lama   speed   45   30.0
cow    speed   30   20.0
falcon speed  320  250.0

## Part 1 Task 1

Given the data below, implement each tasks.

<img src="img/df.png" style="height:200px">

(1) Create a DataFrame.

(2) Access the first row data and print it.

(3) Access the first column data (indexed by 'dept') and print it.

(4) Create a new DataFrame by dropping the 2nd column data (indexed by 'floor') from the current DataFrame.

In [65]:
dept = ['CS','Bio','Chem','Phy','Eng']
floor = [5,3,3,2,4]

depts = pd.Series(dept)
floors = pd.Series(floor)

frame = {'dept': depts, 'floor': floors}
df = pd.DataFrame(frame)
df

   dept  floor
0    CS      5
1   Bio      3
2  Chem      3
3   Phy      2
4   Eng      4

In [66]:
df.iloc[0]

dept     CS
floor     5
Name: 0, dtype: object

In [67]:
df['dept'][0]

'CS'

In [68]:
df2 = df.drop(['floor'], axis = 1)

df2

   dept
0    CS
1   Bio
2  Chem
3   Phy
4   Eng

## Part 1 Task 2

Practice with a data file.

(1) Choose one data file from the data folder in the given TW1 folder.

(2) Read the data into a DataFrame.

(3) Access the rows and columns.

(4) Drop some columns.

In [69]:


data = pd.read_csv('data/log.csv')
df = pd.DataFrame(data)

df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [70]:

df.iloc[0]

time                 1469974424
user                     cheryl
video                intro.html
playback position             5
paused                    False
volume                     10.0
Name: 0, dtype: object

In [71]:

df.iloc[11]

time                    1469974454
user                           sue
video                advanced.html
playback position               24
paused                         NaN
volume                         NaN
Name: 11, dtype: object

In [72]:

df['user']

0     cheryl
1     cheryl
2     cheryl
3     cheryl
4        bob
5        bob
6        bob
7        bob
8     cheryl
9     cheryl
10    cheryl
11       sue
12       sue
13       sue
14       sue
15       sue
16       sue
17       sue
18    cheryl
19    cheryl
20       sue
21       sue
22       sue
23       sue
24       bob
25       bob
26       bob
27       bob
28       bob
29    cheryl
30    cheryl
31       bob
32       bob
Name: user, dtype: object

In [73]:

df3 = df.drop('paused', axis = 1)
df3

          time    user          video  playback position  volume
0   1469974424  cheryl     intro.html                  5    10.0
1   1469974454  cheryl     intro.html                  6     NaN
2   1469974544  cheryl     intro.html                  9     NaN
3   1469974574  cheryl     intro.html                 10     NaN
4   1469977514     bob     intro.html                  1     NaN
5   1469977544     bob     intro.html                  1     NaN
6   1469977574     bob     intro.html                  1     NaN
7   1469977604     bob     intro.html                  1     NaN
8   1469974604  cheryl     intro.html                 11     NaN
9   1469974694  cheryl     intro.html                 14     NaN
10  1469974724  cheryl     intro.html                 15     NaN
11  1469974454     sue  advanced.html                 24     NaN
12  1469974524     sue  advanced.html                 25     NaN
13  1469974424     sue  advanced.html                 23    10.0
14  1469974554     sue  advanced.html                 26     NaN
15  1469974624     sue  advanced.html                 27     NaN
16  1469974654     sue  advanced.html                 28     5.0
17  1469974724     sue  advanced.html                 29     NaN
18  1469974484  cheryl     intro.html                  7     NaN
19  1469974514  cheryl     intro.html                  8     NaN
20  1469974754     sue  advanced.html                 30     NaN
21  1469974824     sue  advanced.html                 31     NaN
22  1469974854     sue  advanced.html                 32     NaN
23  1469974924     sue  advanced.html                 33     NaN
24  1469977424     bob     intro.html                  1    10.0
25  1469977454     bob     intro.html                  1     NaN
26  1469977484     bob     intro.html                  1     NaN
27  1469977634     bob     intro.html                  1     NaN
28  1469977664     bob     intro.html                  1     NaN
29  1469974634  cheryl     intro.html                 12     NaN
30  1469974664  cheryl     intro.html                 13     NaN
31  1469977694     bob     intro.html                  1     NaN
32  1469977724     bob     intro.html                  1     NaN

In [74]:

df4 = df.drop('volume', axis = 1)
df4

          time    user          video  playback position paused
0   1469974424  cheryl     intro.html                  5  False
1   1469974454  cheryl     intro.html                  6    NaN
2   1469974544  cheryl     intro.html                  9    NaN
3   1469974574  cheryl     intro.html                 10    NaN
4   1469977514     bob     intro.html                  1    NaN
5   1469977544     bob     intro.html                  1    NaN
6   1469977574     bob     intro.html                  1    NaN
7   1469977604     bob     intro.html                  1    NaN
8   1469974604  cheryl     intro.html                 11    NaN
9   1469974694  cheryl     intro.html                 14    NaN
10  1469974724  cheryl     intro.html                 15    NaN
11  1469974454     sue  advanced.html                 24    NaN
12  1469974524     sue  advanced.html                 25    NaN
13  1469974424     sue  advanced.html                 23  False
14  1469974554     sue  advanced.html                 26    NaN
15  1469974624     sue  advanced.html                 27    NaN
16  1469974654     sue  advanced.html                 28    NaN
17  1469974724     sue  advanced.html                 29    NaN
18  1469974484  cheryl     intro.html                  7    NaN
19  1469974514  cheryl     intro.html                  8    NaN
20  1469974754     sue  advanced.html                 30    NaN
21  1469974824     sue  advanced.html                 31    NaN
22  1469974854     sue  advanced.html                 32    NaN
23  1469974924     sue  advanced.html                 33    NaN
24  1469977424     bob     intro.html                  1   True
25  1469977454     bob     intro.html                  1    NaN
26  1469977484     bob     intro.html                  1    NaN
27  1469977634     bob     intro.html                  1    NaN
28  1469977664     bob     intro.html                  1    NaN
29  1469974634  cheryl     intro.html                 12    NaN
30  1469974664  cheryl     intro.html                 13    NaN
31  1469977694     bob     intro.html                  1    NaN
32  1469977724     bob     intro.html                  1    NaN